body {
    background-color: rgb(5, 16, 41);
}

#todays-date, #bday-title, #photo-album-title, #bday-message, #album-message, #wishlist-title, .wish-labels {
    color: white;
}

#bday-message-inner {
    box-shadow: 0 0 3px 3px rgb(172, 40, 201);
}

img {
    border: 3px solid white;
}
