body {
    background-color: rgb(234, 237, 243);
}

#todays-date, #album-message, #bday-title, #photo-album-title, #bday-message, #wishlist-title, .wish-labels {
    color: rgb(49, 46, 46);
}

#bday-message-inner {
    box-shadow: 0 0 3px 3px rgb(219, 111, 29);
}

img {
    border: 3px solid black;
}
